@page "/StateGroups/Create_name/{Code:int}"
@inherits BaseDataComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Name.CreateNameComponent APP="@appType" TDataEntity="StateGroup" TNameEntity="StateGroup_name" Code="@Code" Language="@Language" baseService="@commonService">
</TekkenApp.Pages.Components.Base.Name.CreateNameComponent>
