@page "/StateGroups/Detail_name/{Id:int}"
@inherits BaseDataComponent
<h3>@GetAppTitle()</h3>
    <TekkenApp.Pages.Components.Base.Name.DetailNameComponent APP="@appType" TDataEntity="@StateGroup" TNameEntity="@StateGroup_name" Id="@Id" baseService="@commonService">
    </TekkenApp.Pages.Components.Base.Name.DetailNameComponent>
