@page
@model TekkenApp.Pages.MoveData.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>move_data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="move_data.Move_Code" class="control-label"></label>
                <select asp-for="move_data.Move_Code" class ="form-control" asp-items="ViewBag.Move_Code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.moveType_code" class="control-label"></label>
                <select asp-for="move_data.moveType_code" class ="form-control" asp-items="ViewBag.moveType_code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.moveSubType_code" class="control-label"></label>
                <select asp-for="move_data.moveSubType_code" class ="form-control" asp-items="ViewBag.moveSubType_code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.hitCount" class="control-label"></label>
                <input asp-for="move_data.hitCount" class="form-control" />
                <span asp-validation-for="move_data.hitCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.hitLevel" class="control-label"></label>
                <input asp-for="move_data.hitLevel" class="form-control" />
                <span asp-validation-for="move_data.hitLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.damage" class="control-label"></label>
                <input asp-for="move_data.damage" class="form-control" />
                <span asp-validation-for="move_data.damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.startFrame" class="control-label"></label>
                <input asp-for="move_data.startFrame" class="form-control" />
                <span asp-validation-for="move_data.startFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.startFrame_Display" class="control-label"></label>
                <input asp-for="move_data.startFrame_Display" class="form-control" />
                <span asp-validation-for="move_data.startFrame_Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.startType_code" class="control-label"></label>
                <select asp-for="move_data.startType_code" class ="form-control" asp-items="ViewBag.startType_code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.guardFrame" class="control-label"></label>
                <input asp-for="move_data.guardFrame" class="form-control" />
                <span asp-validation-for="move_data.guardFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.guardFrame_Display" class="control-label"></label>
                <input asp-for="move_data.guardFrame_Display" class="form-control" />
                <span asp-validation-for="move_data.guardFrame_Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.guardType_code" class="control-label"></label>
                <select asp-for="move_data.guardType_code" class ="form-control" asp-items="ViewBag.guardType_code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.hitFrame" class="control-label"></label>
                <input asp-for="move_data.hitFrame" class="form-control" />
                <span asp-validation-for="move_data.hitFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.hitFrame_Display" class="control-label"></label>
                <input asp-for="move_data.hitFrame_Display" class="form-control" />
                <span asp-validation-for="move_data.hitFrame_Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.hitType_code" class="control-label"></label>
                <select asp-for="move_data.hitType_code" class ="form-control" asp-items="ViewBag.hitType_code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.counterFrame" class="control-label"></label>
                <input asp-for="move_data.counterFrame" class="form-control" />
                <span asp-validation-for="move_data.counterFrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.counterFrame_Display" class="control-label"></label>
                <input asp-for="move_data.counterFrame_Display" class="form-control" />
                <span asp-validation-for="move_data.counterFrame_Display" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.counterType_code" class="control-label"></label>
                <select asp-for="move_data.counterType_code" class ="form-control" asp-items="ViewBag.counterType_code"></select>
            </div>
            <div class="form-group">
                <label asp-for="move_data.breakThrow" class="control-label"></label>
                <input asp-for="move_data.breakThrow" class="form-control" />
                <span asp-validation-for="move_data.breakThrow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.afterBreak" class="control-label"></label>
                <input asp-for="move_data.afterBreak" class="form-control" />
                <span asp-validation-for="move_data.afterBreak" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="move_data.homing" /> @Html.DisplayNameFor(model => model.move_data.homing)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="move_data.powerCrush" /> @Html.DisplayNameFor(model => model.move_data.powerCrush)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="move_data.technicallyCrouching" /> @Html.DisplayNameFor(model => model.move_data.technicallyCrouching)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="move_data.technicallyJumping" /> @Html.DisplayNameFor(model => model.move_data.technicallyJumping)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="move_data.tailSpin" /> @Html.DisplayNameFor(model => model.move_data.tailSpin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="move_data.wallSplat" /> @Html.DisplayNameFor(model => model.move_data.wallSplat)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="move_data.note" class="control-label"></label>
                <input asp-for="move_data.note" class="form-control" />
                <span asp-validation-for="move_data.note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="move_data.version" class="control-label"></label>
                <input asp-for="move_data.version" class="form-control" />
                <span asp-validation-for="move_data.version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
