@page "/Admin/States/Create_name/{Code:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<CreateNameComponent APP="@App" TDataEntity="State" TNameEntity="State_name" Code="@Code" Language="@Language" baseService="@CommonService" StateGroupCode="@StateGroupCode">
</CreateNameComponent>
