@page "/Admin/MoveTexts"
@page "/Admin/MoveTexts/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CharacterSelectBox OnCharacterChanged="OnCharacterChanged" CharacterCode="@CharacterCode">
</CharacterSelectBox>

<ListComponent @ref="childList" APP="@App" TDataEntity="MoveText" TNameEntity="MoveText_name" baseService="@CommonService" CharacterCode="@CharacterCode">
</ListComponent>
