@page "/Admin/MoveDatas"
@page "/Admin/MoveDatas/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>


<style>
    .table tbody tr:nth-child(11n+1) {
        background: #e2e2e2;
    }
</style>


<div class="container">
    <CascadingValue Value="CharacterCode">
        <CharacterSelectBox OnCharacterChanged="OnCharacterChanged" CharacterCode="@CharacterCode.Value">
        </CharacterSelectBox>

        <input type="button" class="btn btn-primary my-2" id="btnDetail" value="데이터 일괄 생성" @onclick="()=>GenerateAllData(CharacterCode)" />

        <div class="m-auto" id="Character-list">
            <div class="table-responsive">
                @if (moveDataEntities == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <table class="table table-bordered" style="width: 100%; margin-left: auto; margin-right: auto; border: 0;">
                        <colgroup>
                            <col style="width: 100px;" />
                            <col style="width: 100px;" />
                            <col style="width: 150px;" />
                        </colgroup>
                        <thead class="table-dark">
                            <tr>
                                <th>ID</th>
                                <th>CODE</th>
                                <th>NUMBER</th>
                                <th>DESCRIPTION</th>
                                <th>MODIFY</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var entity in moveDataEntities)
                            {
                                <tr>
                                    <td>@entity.Id</td>
                                    <td>@entity.Code</td>
                                    <td>@entity.Move.Number</td>
                                    <td>@entity.Move.Description</td>
                                    <td>
                                        <input type="button" class="btn btn-primary" id="btnDetail" value="상세" @onclick="()=>MoveToDetail(entity.Id)" />
                                        <input type="button" class="btn btn-primary" id="btnEdit" value="수정" @onclick="()=>MoveToEdit(entity.Move.Id)" />
                                        <input type="button" class="btn btn-primary" id="btnDelete" value="삭제" @onclick="()=>MoveToDelete(entity.Id)" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>HIT COUNT</th>
                                    <th>HIT LEVEL</th>
                                    <th>Damage</th>
                                    <th>BREAK THROW</th>
                                    <th>AFTER BREAK</th>
                                </tr>
                                <tr>
                                    <td>@entity.HitCount</td>
                                    <td>@entity.HitLevel</td>
                                    <td>@entity.Damage</td>
                                    <td>@entity.BreakThrow</td>
                                    <td>@entity.AfterBreak</td>
                                </tr>

                                <tr>
                                    <th rowspan="3">FRAME</th>
                                    <th>START FRAME</th>
                                    <th>GUARD FRAME</th>
                                    <th>HIT FRAME</th>
                                    <th>COUNTER FRAME</th>
                                </tr>
                                <tr>
                                    <td>Punish</td>
                                    <td>@entity.StartFrame</td>
                                    <td>@entity.GuardFrame</td>
                                    <td>@entity.HitFrame</td>
                                    <td>@entity.CounterFrame</td>
                                </tr>
                                <tr>
                                    <td>Display</td>
                                    <td>@entity.StartFrame_Display</td>
                                    <td>@entity.GuardFrame_Display</td>
                                    <td>@entity.HitFrame_Display</td>
                                    <td>@entity.CounterFrame_Display</td>
                                </tr>

                                <tr>
                                    <th rowspan="2">FRAME TYPE</th>
                                    <th>startType_code</th>
                                    <th>GuardType_code</th>
                                    <th>HitType_code</th>
                                    <th>CounterType_code</th>
                                </tr>
                                <tr>
                                    <td>@entity.StartType_code</td>
                                    <td>@entity.GuardType_code</td>
                                    <td>@entity.HitType_code</td>
                                    <td>@entity.CounterType_code</td>
                                </tr>

                                int i = 0;
                                @foreach (MoveData_name item2 in entity.NameSet)
                                {
                                    <tr>
                                        @if (i++ == 0)
                                        {
                                            <td rowspan="3">
                                                Language
                                            </td>
                                        }

                                        <td>
                                            @item2.Language_code
                                        </td>
                                        <td>
                                            @item2.StartType_name
                                        </td>
                                        <td>
                                            @item2.Guardtype_name
                                        </td>
                                        <td>
                                            @item2.HitType_name
                                        </td>
                                        <td>
                                            @item2.CounterType_name
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>

    </CascadingValue>
</div>
