@page "/Admin/Moves/Create_name/{Code:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<CreateNameComponent APP="@App" TDataEntity="Move" TNameEntity="Move_name" Code="@Code" Language="@Language" baseService="@CommonService">
</CreateNameComponent>
