@page "/Admin/Moves"
@page "/Admin/Moves/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CharacterSelectBox OnCharacterChanged="OnCharacterChanged" CharacterCode="@CharacterCode">
</CharacterSelectBox>

<ListComponent @ref="childList" APP="@App" TDataEntity="Move" TNameEntity="Move_name" baseService="@CommonService" CharacterCode="@CharacterCode">
</ListComponent>
