@page "/HitTypes/Create_name/{Code:int}"

<h3>Create_name</h3>
<TekkenApp.Pages.Components.Name.NameCreateComponent TEntity="@HitType" TNameEntity="@HitType_name" Code="@Code" Language="@Language" baseService="@hitTypeService">
</TekkenApp.Pages.Components.Name.NameCreateComponent>
