@page "/HitTypes"
@page "/HitTypes/Index"

<h1 class="text-center">HitTypes</h1>
<div>
    <a href="/HitTypes/Create" class="btn btn-primary">추가</a>
</div>


<style>
    .table tbody tr:nth-child(4n-3) {
        background: #e2e2e2;
    }
</style>

<div class="container">
    <div class="m-auto" id="Character-list">
        <div class="table-responsive">
            @if (hitTypes == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table table-bordered border-primary" style="width: 100%; margin-left: auto; margin-right: auto; border: 0;">
                    <colgroup>
                        <col style="width: 100px;" />
                        <col style="width: 100px;" />
                        <col style="width: 150px;" />
                    </colgroup>
                    <thead class="table-dark">
                        <tr>
                            <th>CODE</th>
                            <th>NUMBER</th>
                            <th>DESCRIPTION</th>
                            <th>MODIFY</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var hitType in hitTypes)
                        {
                            <tr id="@hitType.Code">
                                <td>@hitType.Code</td>
                                <td>@hitType.Number</td>
                                <td>@hitType.Description</td>
                                <td>
                                    @*<a asp-action="/HitTypes/Details_name/" class="btn btn-primary" asp-route-id="@hitType.Id">수정</a>*@
                                    <a href="/HitTypes/Edit/@hitType.Id">수정</a>
                                    @*<a href="@hitType_name.Id">상세</a>*@
                                    <!--<a asp-action="UpdateAllName" class="btn btn-primary" asp-route-id="@hitType.Id">명칭 편집</a>-->
                                </td>
                            </tr>

                            foreach (var hitType_name in hitTypeService.GetHitType_AllTranslateNamesByCodeAsync(hitType.Code).Result.ToList())
                            {
                                <tr>
                                    <td>@hitType_name.Language_code</td>
                                    <td colspan="2">
                                        @if (String.IsNullOrEmpty(hitType_name.Name))
                                        {
                                            <a asp-action="CreateName" class="btn btn-primary" asp-route-code="@hitType_name.Base_code" asp-route-languageCode=@hitType_name.Language_code asp-route-name="@hitType_name">추가</a>
                                        }
                                        else
                                        {
                                            @hitType_name.Name
                                        }
                                    </td>
                                    <td>
                                        <a href="/HitTypes/Details_name/@hitType_name.Id">상세</a>
                                        <a href="/HitTypes/Edit_name/@hitType_name.Id">편집</a>
                                        @*<a asp-action="UpdateName" class="btn btn-primary" asp-route-id="@hitType_name.Id">명칭 편집</a>*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>


@*                    {
    <tr>
        <td>
            @Html.Raw(@item2.Language_Code)
        </td>
        <td colspan="2">
            @if (String.IsNullOrEmpty(@item2.Name))
            {
                <a asp-action="CreateName" class="btn btn-primary" asp-route-code="@item.Code" asp-route-languageCode=@item2.Language_Code asp-route-name="@Html.Raw(@item.Description)">추가</a>
            }
            else
            {
                @Html.Raw(@item2.Name)
            }
        </td>
        <td>
            <a asp-action="UpdateName" class="btn btn-primary" asp-route-id="@item2.Id">명칭 편집</a>
        </td>
    </tr>
                            }*@
                    }