@page "/Admin/HitTypes/Create_name/{Code:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>

<CreateNameComponent APP="@App" TDataEntity="HitType" TNameEntity="HitType_name" Code="@Code" Language="@Language" baseService="@CommonService">
</CreateNameComponent>
