@page "/MoveCommands/Create_name/{Code:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<NewTekkenApp.Pages.Components.Base.Name.CreateNameComponent APP="@App" TDataEntity="MoveCommand" TNameEntity="MoveCommand_name" Code="@Code" Language="@Language" baseService="@CommonService">
</NewTekkenApp.Pages.Components.Base.Name.CreateNameComponent>
