@page "/Components/Base/Data/CreateComponent"
@inherits BaseComponent<TDataEntity, TNameEntity>
@typeparam TDataEntity
@typeparam TNameEntity

<h3>Create</h3>

<form class="row g-3" method="post">

    <div class="col-md-12">
        <div class="col-auto">
            <label for="@BaseDataEntity.Number" class="control-label">순번</label>
            <input type="text" @bind="@BaseDataEntity.Number" class="form-control" />
        </div>
        <div class="col-md-4">
            <label for="@BaseDataEntity.Code" class="control-label">코드</label>
            <input type="text" @bind="@BaseDataEntity.Code" class="form-control" />
        </div>



        <label for="@BaseDataEntity.Description" class="control-label">설명</label>
        <input type="text" @bind="@BaseDataEntity.Description" class="form-control" />
    </div>

    <div class="col-md-12">
        <input type="button" id="btnSave" value="Save" @onclick="SaveCreate" class="btn btn-primary" />
    </div>
</form>
