@page "/Components/Base/Data/DetailComponent"
@typeparam TDataEntity
@typeparam TNameEntity

<h3>Detail</h3>

<form method="post">
    
    <div class="form-group row">
        <label for="@BaseEntity.Id" class="col-sm-1 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" @bind="@BaseEntity.Id" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@BaseEntity.Number" class="col-sm-1 col-form-label">순번</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" @bind="@BaseEntity.Number" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@BaseEntity.Code" class="col-sm-1 col-form-label">코드</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" @bind="@BaseEntity.Code" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@BaseEntity.Description" class="col-sm-1 col-form-label">설명</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" @bind="@BaseEntity.Description" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="수정" id="btnEdit" @onclick="btnEdit_Click" />
                <input type="button" class="btn btn-primary" value="삭제" id="btnDelete" @onclick="btnDelete_Click" />
                <input type="button" class="btn btn-primary" value="리스트" id="btnList" @onclick="btnList_Click" />
            </div>
        </div>
    </div>
</form>
