@page "/Components/Base/Data/EditComponent"
@typeparam TDataEntity
@typeparam TNameEntity


<h3>Edit</h3>

<EditForm Model="@BaseDataEntity" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="@BaseDataEntity.Id" class="col-sm-1 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" @bind-value="@BaseDataEntity.Id" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@BaseDataEntity.Number" class="col-sm-1 col-form-label">순번</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" value="@BaseDataEntity.Number" @oninput="@(e=>number_Changed((string)e.Value))" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@BaseDataEntity.Code" class="col-sm-1 col-form-label">코드</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" @bind-value="@BaseDataEntity.Code" />
        </div>
    </div>

    <div class="form-group row">
        <label for="@BaseDataEntity.Description" class="col-sm-1 col-form-label">설명</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" @bind-value="@BaseDataEntity.Description" />
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <input type="button" class="btn btn-primary" value="저장" id="btnSave" @onclick="btnSave_Click" />
            <input type="button" class="btn btn-primary" value="취소" id="btnC12ancel" @onclick="btnCancel_Click" />
            <input type="button" class="btn btn-primary" value="리스트" id="btnList" @onclick="btnList_Click" />
        </div>
    </div>
    <div class="form-group">
        @*<input type="button" value="Edit" id="btnEdit_Click" @onclick="btnEdit_Click" />
            <input type="button" value="Cancel" id="btnCancel_click" @onclick="btnCancel_click" />*@
        <a href="/HitTypes/">List</a>
    </div>
</EditForm>