@page "/MoveDatas/Edit/{Id:int}"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>
<h3 class="mt-3 mb-3">Edit</h3>
@if (moveDataEntity == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@moveDataEntity" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3 row">
            <label for="@moveDataEntity.Id" class="col-1 col-form-label">ID</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Id" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.Character_code" class="col-1 col-form-label">캐릭터 코드</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Character_code" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.Number" class="col-1 col-form-label">순번</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Number" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.Description" class="col-1 col-form-label">설명</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Description" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.Code" class="col-1 col-form-label">코드</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Code" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.Moves.Code" class="col-1 col-form-label">Move_Code</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Moves.Code" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.MoveType_code" class="col-1 col-form-label">기술 종류</label>
            <select @bind="@moveDataEntity.MoveType_code" class="form-control">
                @foreach (var selectItem in MoveTypeSelectListItems)
                {
                    <option value="@selectItem.Value">@selectItem.Text</option>
                }
            </select>
        </div>


        <div class="mb-3 row">
            <label for="@moveDataEntity.MoveSubType_code" class="col-1 col-form-label">기술 하위분류</label>
            <select @bind="@moveDataEntity.MoveSubType_code" class="form-control">
                @foreach (var selectItem in MoveSubTypeSelectListItems)
                {
                    <option value="@selectItem.Value">@selectItem.Text</option>
                }
            </select>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.HitCount" class="col-1 col-form-label">HitCount</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.HitCount" />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="@moveDataEntity.HitLevel" class="col-1 col-form-label">HitLevel</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.HitLevel" />
            </div>
        </div>



        <div class="mb-3 row">
            <label for="@moveDataEntity.Damage" class="col-1 col-form-label">Damage</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.Damage" />
            </div>
        </div>

        @*==================== Start ====================*@
        <div class="mb-3 row">
            <div class="col-auto">
                <label for="@moveDataEntity.StartFrame" class="col-1 col-form-label">StartFrame</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.StartFrame" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.StartFrame_Display" class="col-1 col-form-label">StartFrame_Display</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.StartFrame_Display" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.StartType_code" class="col-1 col-form-label">StartType_code</label>
                <select @bind="moveDataEntity.StartType_code" id="" class="form-control">
                    @foreach (var selectItem in HitTypeSelectListItems)
                    {
                        <option value="@selectItem.Value">@selectItem.Text</option>
                    }
                </select>
            </div>
        </div>


        @*==================== Guard ====================*@
        <div class="mb-3 row">
            <div class="col-auto">
                <label for="@moveDataEntity.GuardFrame" class="col-1 col-form-label">GuardFrame</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.GuardFrame" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.GuardFrame_Display" class="col-1 col-form-label">GuardFrame_Display</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.GuardFrame_Display" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.GuardType_code" class="col-1 col-form-label">GuardType_code</label>
                <select @bind="moveDataEntity.GuardType_code" id="" class="form-control">
                    @foreach (var selectItem in GuardTypeSelectListItems)
                    {
                        <option value="@selectItem.Value">@selectItem.Text</option>
                    }
                </select>
            </div>
        </div>


        @*==================== Hit ====================*@
        <div class="mb-3 row">
            <div class="col-auto">
                <label for="@moveDataEntity.HitFrame" class="col-1 col-form-label">HitFrame</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.HitFrame" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.HitFrame_Display" class="col-1 col-form-label">HitFrame_Display</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.HitFrame_Display" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.HitType_code" class="col-1 col-form-label">HitType_code</label>
                <select @bind="moveDataEntity.HitType_code" id="" class="form-control">
                    @foreach (var selectItem in HitTypeSelectListItems)
                    {
                        <option value="@selectItem.Value">@selectItem.Text</option>
                    }
                </select>
            </div>
        </div>


        @*==================== Counter ====================*@
        <div class="mb-3 row">
            <div class="col-auto">
                <label for="@moveDataEntity.CounterFrame" class="col-1 col-form-label">CounterFrame</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.CounterFrame" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.CounterFrame_Display" class="col-1 col-form-label">CounterFrame_Display</label>
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.CounterFrame_Display" />
            </div>
            <div class="col-auto">
                <label for="@moveDataEntity.CounterType_code" class="col-1 col-form-label">CounterType_code</label>
                <select @bind="moveDataEntity.CounterType_code" id="" class="form-control">
                    @foreach (var selectItem in CounterTypeSelectListItems)
                    {
                        <option value="@selectItem.Value">@selectItem.Text</option>
                    }
                </select>
            </div>
        </div>

        @*==================== BreakThrow ====================*@
        <div class="mb-3 row">
            <label for="@moveDataEntity.BreakThrow" class="col-1 col-form-label">BreakThrow</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.BreakThrow" />
            </div>
        </div>
        @*==================== AfterBreak ====================*@
        <div class="mb-3 row">
            <label for="@moveDataEntity.AfterBreak" class="col-1 col-form-label">AfterBreak</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveDataEntity.AfterBreak" />
            </div>
        </div>



        <div class="row mb-3">
            <div class="col-sm">
                <table width="90%" border="1">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="Homing" class="col-form-label col-form-label-sm">Homing</label>
                            </th>
                            <th>
                                <label asp-for="PowerCrush" class="col-form-label col-form-label-sm">PowerCrush</label>
                            </th>
                            <th>
                                <label asp-for="TechnicallyCrouching" class="col-form-label text-center">TechnicallyCrouching</label>
                            </th>
                            <th>
                                <label asp-for="TechnicallyJumping" class="col-form-label">TechnicallyJumping</label>
                            </th>
                            <th>
                                <label asp-for="TailSpin" class="col-form-label">TailSpin</label>
                            </th>
                            <th>
                                <label asp-for="WallSplat" class="col-form-label">WallSplat</label>
                            </th>
                        </tr>
                    </thead>
                    <tr height="100">
                        <td>
                            <input asp-for="Homing" class="form-check-input" type="checkbox">
                        </td>
                        <td>
                            P <input asp-for="PowerCrush" class="form-check-input" type="checkbox">
                        </td>
                        <td>
                            T<input asp-for="TechnicallyCrouching" class="form-check-input text-center" type="checkbox">
                        </td>
                        <td>
                            T <input asp-for="TechnicallyJumping" class="form-check-input" type="checkbox">
                        </td>
                        <td>
                            T <input asp-for="TailSpin" class="form-check-input" type="checkbox">
                        </td>
                        <td>
                            W <input asp-for="WallSplat" class="form-check-input" type="checkbox">
                        </td>
                    </tr>
                </table>

            </div>
        </div>








        <div class="mb-3 row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary btn-lg" value="저장" id="SaveEdit" @onclick="SaveEdit" />
                    <input type="button" class="btn btn-primary btn-lg" value="취소" id="Cancel" @onclick="() => MoveToList()" />
                </div>
            </div>
        </div>

    </EditForm>
}