@page "/Components/Name/NameEditComponent"
@typeparam TEntity
@typeparam TNameEntity

<h3>NameEditComponent</h3>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>ID: </label>
                @baseTranslateName.Id
            </div>

            <div class="form-group">
                <label>테이블명</label>
                @baseTranslateName.GetTableName()
            </div>

            <div class="form-group">
                <label>코드 </label>
                @baseTranslateName.Base_code

            </div>
            <div class="form-group">
                <label>입력 언어</label>
                @baseTranslateName.Language_code
            </div>
            <div class="form-group">
                <label>명칭</label>
                <input type="text" name="name" @bind="@baseTranslateName.Name" />
            </div>

            btnEdit_Click

            <div class="form-group">
                <input type="button" class="btn btn-primary" value="수정" id="btnEdit_Click" @onclick="btnEdit_Click" />
                <input type="button" class="btn btn-primary" value="리스트" id="btnList_Click" @onclick="btnList_Click" />
            </div>
        </div>
    </div>
</form>

@code {


}
