@page "/Admin/MoveCommands/Edit/{Id:int}"
@using System.Collections
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>

@if (moveEntity == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <style>
        .move {
            display: flow;
            flex-direction: row;
            align-items: flex-start;
            width: 1.5rem;
            overflow-x: auto;
            cursor: grab;
        }
    </style>

    <form method="post">
        <div class="mb-3 row">
            <label class="col-1 col-form-label">코드</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" value="@moveEntity.Code" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">캐릭터 코드</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" value="@moveEntity.Character_code" />
            </div>
        </div>


        <div class="mb-3 row">
            <label class="col-1 col-form-label">순번</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveEntity.Number" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">설명</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind="@moveEntity.Description" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">커맨드</label>
            <div class="col">
                <CommandComponent @ref="CommandComponent" EventAfterSetKeyUp="AfterSetKeyUp" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">RAW</label>
            <div class="col">
                <textarea rows=3 id="Command" type="text" readonly class="form-control" @bind="@moveEntity.MoveCommand.Command" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">State</label>
            <div class="col">
                <StateGroupButtonList OnStateGroupChanged="OnStateGroupChanged" />

                <div class="row mb-3">
                    <div class="col-sm-2">
                        <label class="col-form-label col-form-label-sm">States</label>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm">
                            <button type="button" class="mb-1 col btn btn-primary" value="RECENT STATE" @onclick="()=>AddRecentState()">RECENT STATE</button>
                            <br />
                            @if (state != null)
                            {
                                @foreach (var item in state)
                                {
                                    <button type="button" class="mb-1 col btn btn-primary" value="@item.Description" @onclick="()=>AddState(item)">@item.Description</button>
                                    <br />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="mb-1 col btn btn-primary" @onclick="()=>TransCommands()">변환</button>


        @foreach (var item in @moveEntity.MoveCommand.NameSet)
        {
            <div class="row mb-1">
                <div class="col-1">
                    <label class="col-form-label col-form-label-sm">Id</label>
                </div>
                <div class="col-2">
                    <input class="form-control form-control-sm" value="@item.Id" readonly="readonly" />
                </div>
                <div class="col-1">
                    <label class="col-form-label col-form-label-sm">Code</label>
                </div>
                <div class="col-2">
                    <input value="@item.Language_code" class="form-control col-form-label-sm" readonly="readonly" />
                </div>

                <div class="col text-right">
                    <div class="form-check">
                        <input id="@String.Format("Change_{0}", @item.Language_code)" asp-for="@item.Checked" class="form-check-input" type="checkbox">
                        <label class="form-check-label" for="Change">
                            Modified
                        </label>
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-1 col-form-label">커맨드</label>
                <div class="col">
                    <div class="border border-1 text-black fs-6 m-0 p-0" style="min-height:3.5rem;">
                        @((MarkupString)item.Name)
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-1 col-form-label">입력</label>
                <div class="col">
                    <textarea rows=3 id="Command" type="text" readonly class="form-control" placeholder="커맨드 입력" @bind="@item.Name" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-1">
                    <label class="col-form-label col-form-label-sm">ToBe</label>
                </div>
                <div class="col-11">
                    <input id="@String.Format("TlanslatedCommand_{0}", @item.Language_code)" language_Code="@item.Language_code" type="text" class="form-control form-control-sm commandName" placeholder="col-form-label-sm">
                </div>
            </div>

        }
    </form>
}

<div class="mb-3 row">
    <div class="col-md-4">
        <input type="button" class="btn btn-primary btn-lg" value="저장" id="SaveEdit" @onclick="SaveEdit" />
        <input type="button" class="btn btn-primary btn-lg" value="취소" id="Cancel" @onclick="() => MoveToList()" />
    </div>
</div>