@page "/"
@page "/User/MoveLists"
@page "/User/MoveLists/Index"

@using Common.Components.Filters
@inherits BasePageComponent

<h3 class="main-title">@GetAppTitle()</h3>

<style>

    .table tbody tr td:nth-child(1) {
        border: none;
    }

    .table tbody tr td:nth-child(2) {
        border: thin;
    }

    .move {
        display: flow;
        flex-direction: row;
        align-items: flex-start;
        width: 1.5rem;
        overflow-x: auto;
        cursor: grab;
    }

    .moveFrame {
        color: white;
        text-align: right;
    }

    .sort {
        color:white
    }
</style>
<GridWrapper @ref="Wrapper"
             FilterChanged="ReloadAsync">
    <CascadingValue Value="CharacterCode">
        <div class="col-4">
            <CharacterSelectBox OnCharacterChanged="OnCharacterChanged">
            </CharacterSelectBox>
        </div>
        <div class="row col-8 contact-header sort">
            <div class="col-2">Sort By</div>
            <div class="col-2"
                 @onclick="@(async ()=>await ToggleAsync(MoveFilterColumns.Number))">
                <SortIndicator Column="@(MoveFilterColumns.Number)" />&nbsp;Number
            </div>
            <div class="col-2"
                 @onclick="@(async ()=>await ToggleAsync(MoveFilterColumns.Title))">
                <SortIndicator Column="@(MoveFilterColumns.Title)" />&nbsp;Title
            </div>
            <div class="col-2"
                 @onclick="@(async ()=>await ToggleAsync(MoveFilterColumns.Hits))">
                <SortIndicator Column="@(MoveFilterColumns.Hits)" />&nbsp;Hits
            </div>
        </div>

        <div class="m-auto" id="Character-list">
            <div class="container-fluid bg-black ">
                @if (moveLists == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div class="row">
                        <div class="col-8"><TextFilter /></div>
                    </div>
                    @foreach (Move move in moveLists)
                    {
                        <div class="row mb-2">
                            <div class="col">
                                <div class="card p-1 bg-black border border-2 border-whites rounded-3" style="max-width: 38rem;">
                                    <div class="card-header my-0 py-0 ">
                                        <div class="row py-0 my-0 card-title">
                                            <div class="col-3 my-0 py-0 text-warning">
                                                <h5>@move.Number.ToString("D3")</h5>
                                            </div>
                                            <div class="col my-0 py-0 text-white-50 text-white">
                                                <h5>@move.NameSet.FirstOrDefault().Name</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body text-white-50 border border-1 py-0 px-1">
                                        <div class="row my-1 mx-0">
                                            <div class="col col-sm me-0 me-sm-2">
                                                <div class="row border mb-1">
                                                    <div class="col fs-6 m-0 p-0" style="min-height:3.5rem;">
                                                        @((MarkupString)move.MoveCommand.NameSet.FirstOrDefault().Name)
                                                        @*@CommandService.TranseCommandToImage(move.MoveCommand.NameSet.FirstOrDefault().Name))*@
                                                    </div>
                                                </div>
                                                <div class="row gx-4 mb-1">
                                                    <div class="col-2 border me-2 text-danger text-center">
                                                        @move.MoveData.HitCount Hits
                                                    </div>
                                                    <div class="col border text-info text-start">
                                                        @move.MoveData.HitLevel
                                                    </div>
                                                    <div class="col-2 ms-2 border text-danger text-end">
                                                        @move.MoveData.Damage
                                                    </div>
                                                </div>
                                                <div class="row border">
                                                    <div class="col" placeholder="Note">
                                                        Note
                                                        @move.MoveData.Note
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col col-sm-3 mx-0">
                                                <div class="row  text-white-50 border">
                                                    <div class="col-8">Start Up</div>
                                                    <div class="col moveFrame">@move.MoveData.StartFrame_Display</div>
                                                </div>
                                                <div class="row px-0 text-white-50 border my-1">
                                                    <div class="col-8">Block</div>
                                                    <div class="col moveFrame">@move.MoveData.GuardFrame_Display</div>
                                                </div>
                                                <div class="row px-0 text-white-50 border my-1">
                                                    <div class="col-8">Hit</div>
                                                    <div class="col moveFrame">@move.MoveData.HitFrame_Display</div>
                                                </div>
                                                <div class="row px-0 text-white-50 border my-1">
                                                    <div class="col-8">Count Hit</div>
                                                    <div class="col moveFrame">@move.MoveData.CounterFrame_Display</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
    </CascadingValue>
</GridWrapper>
