@page "/"
@page "/User/MoveLists"
@page "/User/MoveLists/Index"

@using Common.Components.Filters
@inherits BasePageComponent

<h3 class="main-title">@GetAppTitle()</h3>

<style>
    html {
        background-color: black;
    }

    .table tbody tr td:nth-child(1) {
        border: none;
    }

    .table tbody tr td:nth-child(2) {
        border: thin;
    }

    .move {
        display: flow;
        flex-direction: row;
        align-items: flex-start;
        width: 1.5rem;
        overflow-x: auto;
        cursor: grab;
    }

    .moveFrame {
        color: white;
        text-align: right;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .moveTitle {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .sort {
        color: white
    }
</style>
<GridWrapper @ref="Wrapper"
             FilterChanged="ReloadAsync">
    <CascadingValue Value="CharacterCode">
        <div class="col-auto mb-2">
            <CharacterSelectBox OnCharacterChanged="OnCharacterChanged">
            </CharacterSelectBox>
        </div>

        <div class="m-auto" id="Character-list">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-12"><TextFilter /></div>
                </div>
                <div class="row mb-2 contact-header sort">
                    <div class="col-3">Sort By</div>
                    <div class="col-3 float-end"
                         @onclick="@(async ()=>await ToggleAsync(MoveFilterColumns.Number))">
                        Number<SortIndicator Column="@(MoveFilterColumns.Number)" />
                    </div>
                    <div class="col-3"
                         @onclick="@(async ()=>await ToggleAsync(MoveFilterColumns.Title))">
                        Title<SortIndicator Column="@(MoveFilterColumns.Title)" />
                    </div>
                    <div class="col-3"
                         @onclick="@(async ()=>await ToggleAsync(MoveFilterColumns.Hits))">
                        Hits<SortIndicator Column="@(MoveFilterColumns.Hits)" />
                    </div>
                </div>

                @if (moveFilters.Loading || moveLists == null)
                {
                    <div class="row">
                        <div class="col-12 loading">
                            Loading...
                        </div>
                    </div>
                }
                @if (moveLists is not null && moveLists.Count() == 0)
                {
                    <div class="row">
                        <div class="col-12 loading">
                            No contacts found.
                        </div>
                    </div>
                }
                @if (moveLists is not null)
                {

                    @foreach (Move move in moveLists)
                    {
                        <div class="row mb-3">
                            <div class="col">
                                <div class="p-0 border border-1 rounded-3" style="max-width: 38rem;">
                                    <div class="row">
                                        <div class="col-3 ms-3  text-warning">
                                            <h5 class="mb-0">@move.Number.ToString("D3")</h5>
                                        </div>
                                        <div class="col-auto text-white-50">
                                            <h5 class="mb-0">@move.NameSet.FirstOrDefault().Name</h5>
                                        </div>
                                    </div>

                                    <div class="text-white-50 border-top border-1 mt-1 mb-1 mb-sm-0">
                                        <div class="row  mx-0">
                                            <div class="col-12 col-sm-8 px-2 py-1">
                                                <div class="row  px-2 py-0 align-items-start">
                                                    <div class="col-12 px-1 h-75 border" style="min-height:1.2rem;">
                                                        @((MarkupString)move.MoveCommand.NameSet.FirstOrDefault().Name)
                                                    </div>
                                                </div>
                                                <div class="row px-2 pt-1">
                                                    <div class="col-12 p-0">
                                                        <div class="row p-0 g-1">
                                                            <div class="col-3">
                                                                <div class="border px-1 text-warning">
                                                                    @move.MoveData.HitCount <span class="me-0  pe-0">H</span><span class="d-none d-sm-inline-block mx-0 ps-0">its</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-6 text-info text-start">
                                                                <div class="px-1 border text-danger">
                                                                    @move.MoveData.HitLevel
                                                                </div>
                                                            </div>
                                                            <div class="col-3 text-danger text-end">
                                                                <div class="px-1 border text-danger">
                                                                    @move.MoveData.Damage
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-2 d-none d-sm-block  px-2 pt-1">
                                                    <div class="col border p-1 m-0" style="min-height:3.5rem;">
                                                        Note
                                                        @move.MoveData.Note
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 p-1 col-sm-4">
                                                <div class="row mb-1 g-1 text-white-50">
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveTitle border">Start</div>
                                                    </div>
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveFrame border">@move.MoveData.StartFrame_Display</div>
                                                    </div>
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveTitle border">Block</div>
                                                    </div>
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveFrame border">@move.MoveData.GuardFrame_Display</div>
                                                    </div>
                                                </div>

                                                <div class="row mb-1 g-1 text-white-50">
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveTitle border">Hit</div>
                                                    </div>
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveFrame border">@move.MoveData.HitFrame_Display</div>

                                                    </div>
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveTitle border">Counter</div>
                                                    </div>
                                                    <div class="col-3 col-sm-6">
                                                        <div class="moveFrame border">@move.MoveData.CounterFrame_Display</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 	d-block d-sm-none px-1" placeholder="Note">
                                                <div class="row mx-0 text-white-50 border">
                                                    <div class="col">
                                                        Note
                                                        @move.MoveData.Note
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
    </CascadingValue>
</GridWrapper>
